
<!--THE LOGIN BASIC-->

{% block content %}
    <h1>Login Machine</h1>

    <form method="POST">
         {% csrf_token %}
            
            <label>Username</label>

            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Enter Text Here:"></input>
            </div>

            <br>

            <label>Password</label>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Enter Password Here:"></input>
            </div>

            <br>
            <!--Make a button through CSS-->
            <style>
                .button {
                    display: inline-block;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    color: #ffffff;
                    background-color: #7aa8b7;
                    border-radius: 6px;
                    outline: none;
                  }
            </style>
            {% comment %} <a class="button" type="submit" href="{% url 'logged' %}">Login</a> {% endcomment %}
                <button type="submit" class="button" formaction={% url 'logged' %}>Login</button>

                <br><br>

                <label>Salesforce Username</label>

                <div class="form-group">
                    <input type="text" class="form-control" name="username2" placeholder="Enter Text Here:"></input>
                </div>
            
                <br>
            
                <label>Salesforce Password</label>
                <div class="form-group">
                    <input type="password" class="form-control" name="password2" placeholder="Enter Password Here:"></input>
                </div>
            
                <br>
            
                <button type="submit" class="button" formaction={% url 'sfdemo' %}>Salesforce</button>
        
        </form>

        <!--MESSAGES-->
        <div class="container">
            {% if messages %}
    
                {% for message in messages %}
    
                    <div class="alert alert-primary alert-dismissable" role="alert">
                        {{ message }}
                    </div>
                    
                {% endfor %}
    
            {% endif %}
        </div>


        <br>

<!--THE SALESFORCE LOGIN-->


{% comment %} <h2>Salesforce Login Link</h2>

<form method="POST">
    {% csrf_token %}
    <label>Salesforce Username</label>

    <div class="form-group">
        <input type="text" class="form-control" name="username2" placeholder="Enter Text Here:"></input>
    </div>

    <br>

    <label>Salesforce Password</label>
    <div class="form-group">
        <input type="password" class="form-control" name="password2" placeholder="Enter Password Here:"></input>
    </div>

    <br>

    <button type="submit" class="button" formaction={% url 'sfdemo' %}>Salesforce</button>
</form> {% endcomment %}

{% endblock %}

  </body>
</html> 