{% block content %}

    <h2>Salesforce Demo Login</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
            <div class="form-group">
                <input type="text" class="form-control" name="salesname" placeholder="SF Username Here:"></input>
            </div>

            <br>

        <label>Password</label>
            <div class="form-group">
                <input type="password" class="form-control" name="salespass" placeholder="SF Password Here:"></input>
            </div>

            <br>

            <button type="submit" class="button" formaction={% url 'sf2page' %}>Login to SFDemo</button>
    </form>

    <!--MESSAGES-->
        <div class="container">
            {% if messages %}

                {% for message in messages %}

                    <div class="alert alert-primary alert-dismissable" role="alert">
                        {{ message }}
                    </div>
                    
                {% endfor %}

            {% endif %}
        </div>

{% endblock %}

